﻿/* ======= Fonts ======= */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500,100,100');

/* ======= General Styles ======= */

body {
    color: #333;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    background: #fff;
}

.no-scroll {
    overflow: hidden;
}

/*Typography*/

p {
    font-size: 14px;
    color: #6a7483;
    line-height: 26px;
    transition: .5s;
}

.p-l {
    font-size: 16px;
    line-height: 30px;
}

.p-l-p {
    font-size: 14px;
    line-height: 30px;
}

/*Align*/

ul {
    margin: 0;
    padding: 0;
}

.h-80 {
    display: block;
    overflow: hidden;
    height: 80px;
}

.no-border {
    border: 0 !important;
}

.no-margin {
    margin: 0 !important;
}


/*Links*/

a {
    font-size: 14px;
    font-weight: 400;
    color: #005776;
    transition: .5s;
}

a:hover,
a:focus {
    color: #EBA900;
    text-decoration: none;
    outline: 0;
}

a.btn i.icon {
    font-size: 16px;
}

.btn {
    background: #EBA900;
    color: #fff;
    min-width: 170px;
    height: 50px;
    line-height: 45px;
    padding: 0 25px;
    font-weight: 600;
    border-radius: 2px;
    text-transform: uppercase;
}

.btn:hover,
.btn:focus,
.btn:active {
    background: #333333;
    color: #fff;
    outline: 0;
}

.btn-no-bg {
    background: transparent;
    color: #333333;
}

.btn-no-bg:hover {
    background: transparent;
    color: #EBA900;
}

button.btn {
    transition: .5s;
}

/* Mas / Menos */
.btn_less_more {
    background-color: initial;
    color: #339900;
    min-width: 30px;
    height: 30px;
    line-height: 0px;
    padding: 0px 4px 0px 4px;
    margin: 0px 2px 10px 0px;
    font-weight: 400;
    font-size: 20px;
    /*border-radius: 13px;*/
    text-transform: uppercase;
    white-space: nowrap;
    border: none;
	width: 30px;
}
/*
.btn_less_more:hover,
.btn_less_more:focus,
.btn_less_more:active {
    background: #333333;
    color: #fff;
    outline: 0;
}
*/
.div_less_more {
	border: 1px solid #000000;
	background-color: #FFFFFF;
	height: 35px;
	padding: 3px 0px 0px 2px;
	margin: -10px 2px 0px 2px;
	border-radius: 2px;
	min-width: 80px; 
	white-space: nowrap;
	font-size: 12px;
}

.div_less_more div {
	text-align: center;
	line-height: 15px;
}

button.btn_less_more {
    transition: .5s;
}


/*Tabs*/

.tabs {
    text-align: center;
}

ul.nav-tabs {
    border: 0px;
    display: inline-block;
}

ul.nav-tabs>li>a {
    padding: 0px 25px;
}


/*Forms*/

.form-control {
    height: 50px;
    background: transparent;
    border-radius: 2px;
    transition: .5s;
    color: #fff;
    border: 0;
    box-shadow: 0 0 0;
}

.form-control:focus {
    outline: 0;
    box-shadow: 0 0 0;
    border-color: #EBA900;
}

.white-form .form-control {
    border-color: #fff;
    box-shadow: 0 0 0;
    color: #333333;
    height: 50px;
    background: #fff;
}

.white-form textarea.form-control {
    height: 230px;
    resize: vertical;
}

.form-control:focus {
    background: #EBA900;
    border-color: #EBA900;
    color: #fff;
}

.white-form .btn {
    width: 100%;
    background: #333333;
}

.white-form .btn:hover {
    background: #EBA900;
}

.form-control:focus::-webkit-input-placeholder {
    color: #fff;
}


/* Firefox < 19 */

.form-control:focus:-moz-placeholder {
    color: #fff;
}


/* Firefox > 19 */

.form-control:focus::-moz-placeholder {
    color: #fff;
}


/* Internet Explorer 10 */

.form-control:focus:-ms-input-placeholder {
    color: #fff;
}


/*General*/

.main-color {
    color: #EBA900 !important;
}

.main-color2 {
    color: #333333;
}

.main-red {
    color: #df7848 !important;
}

.white-color {
    color: #fff;
}

.second-bg {
    background: #f0f5f9 !important;
}

.icon {
    padding-left: 10px;
    font-size: 10px;
}

.iconfa {
    padding-right: 5px;
    font-size: 10px;
}
.iconsocial {
    padding-right: 5px;
    font-size: 20px;
}
.start-price span.price {
    font-size: 22px;
}

.start-price span.per {
    font-size: 12px;
}

img.feature-star {
    position: absolute;
    top: 10px;
    right: 10px;
}

section {
    padding: 50px 0px;
}

.title {
    padding-bottom: 70px;
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

.slick-slider {
    cursor: url(../images/drag.png) 16 9, ew-resize!important;
}

.slick-initialized .slick-slide:focus {
    outline: 0 !important;
}

img.m-auto {
    margin: 0 auto;
}


/*Dropdown menu*/

ul.dropdown {
    background: #fff;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 2;
    overflow: hidden;
    border: 1px solid #fff8e6;
    border-top: 3px solid #EBA900;
    border-radius: 2px;
    display: none;
}

ul.dropdown li {
    width: 200px;
    margin: 0 !important;
    border-bottom: 1px solid #fff8e6;
}

ul.dropdown li a {
    padding: 15px 30px !important;
    background: #fff;
    color: #333333;
}

ul.dropdown li a:hover {
    background: #EBA900;
    color: #fff;
}

ul.menu>li:hover ul.dropdown {
    display: block;
}

.open-menu {
    display: block !important;
}


/*Mega Menu*/

ul.mega-dropdwon li {
    width: 350px;
}

ul.mega-dropdwon li img {
    width: 32px;
    height: 32px;
    margin-right: 15px;
    margin-top: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    float: left;
}

ul.mega-dropdwon li .text {
    display: table-cell;
}

ul.mega-dropdwon li a p b {
    font-weight: 600;
}

ul.mega-dropdwon li a p {
    font-weight: normal;
    margin-bottom: 0;
}

ul.mega-dropdwon li a:hover p {
    color: #fff !important;
}


/* ======= Preloader ======= */

div.preloader {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999999;
    margin-top: 0px;
    top: 0px;
    text-align: center;
}

ul.preloader {
    text-align: center;
    font-size: 0;
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -22px;
}

ul.preloader li {
    display: inline-block;
    width: 20px;
    height: 20px;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    animation: colorbars 333ms alternate infinite cubic-bezier(0.2, 0, 0.5, 1);
}

.three {
    background: #EBA900;
    border-radius: 10px;
}

ul.preloader li:nth-of-type(1) {
    animation-delay: 111ms;
}

ul.preloader li:nth-of-type(2) {
    animation-delay: 222ms;
}

ul.preloader li:nth-of-type(3) {
    animation-delay: 333ms;
}

ul.preloader li:nth-of-type(4) {
    animation-delay: 444ms;
}

ul.preloader li:nth-of-type(5) {
    animation-delay: 555ms;
}

@keyframes colorbars {
    to {
        -moz-transform: translateY(12px);
        -ms-transform: translateY(12px);
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
    }
}


/* ======= Top Header ======= */

.top-header {
    border-bottom: 1px solid #f2f8ff;
}

.top-header .container:first-child ul {
    float: left;
}

.top-header .container ul:last-child {
    float: right;
}

.top-header a {
    font-size: 12px;
    padding: 15px 0px;
    display: block;
}

.top-header .container:first-child ul li {
    margin-right: 15px;
    position: relative;
    padding: 0;
}

.top-header .menu li {
    margin-right: 0 !important;
    margin-left: 15px;
}

.top-header ul.dropdown li {
    width: 150px;
}

.top-header ul.mini-contact i.icon{
    padding-right: 10px;
    font-size: 14px;
}


/* ======= Header ======= */

.affix {
    border-bottom: 1px solid #f2f8ff;
    top: 0;
    background: #fff;
    width: 100%;
    z-index: 999;
}

header.navbar {
    margin-bottom: 0;
}

nav.navbar {
    margin: 0;
    float: right;
}

nav.navbar {
    min-height: auto;
}

header .icon {
    font-size: 8px;
    color: #EBA900
}

header a.logo {
    padding: 15px 0px;
    float: left;
}

header a.logo img {
    margin-right: 0px;
    float: left;
}

header a.logo .logo-txt {
    float: right;
}

header a.logo b {
    font-size: 18px;
    letter-spacing: 2px;
}

header a.logo span {
    font-size: 12px;
    font-weight: 500;
    color: #6a7483;
    margin-top: -5px;
}

header .menu li {
    padding: 0;
    margin-left: 20px;
    position: relative;
}

header .menu li a {
    padding: 30px 0px 30px 0px;
    display: block;
}

header ul.dropdown li.active a:hover {
    color: #fff !important;
}

header ul.mega-dropdwon li.active a p {
    color: #EBA900;
}


/* ======= Mobile Menu ======= */

a.mobile-menu-icon {
    padding-top: 25px;
    float: right;
}

a.mobile-menu-icon i.icon {
    font-size: 24px;
    padding: 0;
}

.mobile-menu {
    background: #002a3c;
    position: absolute;
    top: 100%;
    left: 5px;
    right: 5px;
    z-index: 999;
    margin-top: 5px;
    padding: 15px;
    border-right: 2px;
    border-top: 2px solid #EBA900;
    -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
    -webkit-transform-origin: 50% 0;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
    overflow-y: scroll;
}

.mobile-menu ul li {
    margin-left: 0;
    width: 100%;
}

.mobile-menu ul li a {
    background: rgba(0, 0, 0, .3);
    color: #fff;
    border-radius: 2px;
    padding: 15px 30px !important;
    display: block;
    border-bottom: 2px solid #002a3e;
}

.mobile-menu-open {
    max-height: 1000px;
    -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
}

.mobile-menu ul li a:hover,
.mobile-menu ul li a:focus {
    background: #EBA900;
    color: #fff !important;
}

.mobile-menu ul li a:hover i.icon,
.mobile-menu ul li a:focus i.icon {
    color: #fff !important;
}

.mobile-menu ul.dropdown {
    right: 0;
    margin-left: 0;
    border-color: #333333;
    background: #EBA900;
    left: 0;
}

.mobile-menu ul.dropdown li {
    border-color: #333333;
}

.mobile-menu ul.dropdown li a {
    background: #fff;
    color: #333333;
}

.mobile-menu ul.dropdown li a .text p {
    color: #333333;
}

.mobile-menu ul.dropdown li.active a:hover,
.mobile-menu ul.dropdown li a:hover,
.mobile-menu ul.mega-dropdwon li.active a p,
.mobile-menu ul.mega-dropdwon li a:hover p {
    color: #EBA900 !important;
}


/* ======= Slider ======= */

section.slider .slick-slide img {
    float: left;
}
.slider-content p {
	font-size: 16px;
}
.slider-content h1 {
	text-align: left !important;
}
.slider-content .btn {
	margin-top: 20px !important;
}
section.slider .slider-content {
    padding-top: 30px;
    text-align: left;
}

section.slider .btn {
    margin-top: 20px;
}

.slick-next {
    right: -50px;
}

.slick-prev {
    left: -50px;
}

.slick-next,
.slick-prev {
    background: #fff;
    height: 40px;
    width: 40px;
    display: inline-block;
    line-height: 47px;
    text-align: center;
    border-radius: 2px;
}

.slick-next:hover,
.slick-prev:hover,
.slick-next:focus,
.slick-prev:focus {
    background: #EBA900;
}

.slick-prev:before,
.slick-next:before {
    color: #111 !important;
    font-size: 22px;
    font-weight: bold;
    line-height: 2;
}


.slick-prev:hover::before,
.slick-next:hover::before,
.slick-prev:focus::before,
.slick-next:focus::before {
    color: #fff !important;
}


/* ======= Domain Search ======= */

.domain-search {
    background: #4089d5;
    padding: 50px 0px;
    text-align: center;
}

.domain-search p {
    padding-top: 5px;
}

.domain-search .form-group {
    margin-bottom: 0px;
}

.domain-search .form-control {
    height: 50px;
}

.domain-search .search-filter {
    position: relative;
}

.domain-search button.domain-select {
    background: #fff;
    color: #6a7483;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
}

ul.dropdown-menu {
    left: 0;
    right: 0;
    padding: 0;
    border: 0;
    box-shadow: 0 0 0;
    border-radius: 2px;
    border: 1px solid #fff8e6;
    border-top: 3px solid #EBA900;
}

ul.dropdown-menu li {
    border-bottom: 1px solid #fff8e6;
}

ul.dropdown-menu li a {
    padding: 15px 30px !important;
    background: #fff;
    color: #333333;
    font-weight: 600;
    text-transform: uppercase;
}

ul.dropdown-menu li a:hover,
ul.dropdown-menu li a:focus {
    color: #EBA900;
    background: #fff;
}

.domain-search .btn {
    background: #eba800;
}

/* ======= Planes Gratis Home ======= */

.box_celeste {
    background: #4089d5;
    padding: 50px 0px;
    text-align: center;
}
.box_celeste .btn{
    background: #001b2a;
    margin-top: 40px;
}
.box_celeste span{
    text-decoration: underline;
}
.box_celeste p {
    padding-top: 5px;
    font-size: 20px;
}

/* ======= Services and Features Blocks ======= */

.block {
    cursor: pointer;
}

.block .text {
    display: table-cell;
    text-align: left;
}

.block img {
    margin-right: 30px;
    float: left;
}

.block:hover p.p-l {
    color: #EBA900 !important;
}

section.features .text-right .block img {
    margin-left: 0;
    margin-right: 30px;
}

section.features .block {
    margin-bottom: 20px;
    overflow: hidden;
    min-height: 130px;
}


/* ======= Pricing ======= */

.price-table {
    background: #fff;
    padding: 20px 10px 10px 10px;
    position: relative;
    cursor: pointer;
    text-align: center;
    margin-bottom: 30px;
}

.price-table img {
    margin-bottom: 30px;
}

.price-table .btn {
    margin-top: 20px;
}

.price-table-almacenamiento {
    border: 1px solid #BABABA;
    /*background-color: #EAEAEA;*/
}

.price-table-no-selected {
	background-color: #F8F8F8 !important; 
	border-top: 10px solid #F8F8F8 !important;
	border-right: 1px solid #F8F8F8 !important;
	border-bottom: 1px solid #F8F8F8 !important;
	border-left: 1px solid #F8F8F8 !important;
}

.price-table-selected-anual {
	background-color: #FFFFFF !important;
	border-top: 10px solid #EBA900 !important;
	border-right: 1px solid #EBA900 !important;
	border-bottom: 1px solid #EBA900 !important;
	border-left: 1px solid #EBA900 !important;
}

.price-table-selected-mensual {
	background-color: #FFFFFF !important;
	border-top: 10px solid #002A3A !important;
	border-right: 1px solid #002A3A !important;
	border-bottom: 1px solid #002A3A !important;
	border-left: 1px solid #002A3A !important;
}

/* ======= Blogs ======= */

.blog {
    background: #fff;
    padding: 30px;
    overflow: hidden;
}

.blog a.btn {
    margin-top: 15px;
}

.blog a.blog-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
}


/* ======= Clients ======= */

.client .block {
    cursor: inherit;
}

.client-say {
    border: 1px solid #fff8e6;
    padding: 30px 30px 20px 30px;
    background: #fff;
}

.client-say img {
    padding-top: 10px;
}

.partners img {
    cursor: pointer;
    width: 120px;
    margin-bottom: 30px;
    text-align: center;
}


/* ======= FAQ`s ======= */

.accordeon {
    width: 100%;
}

a.accordeon-title {
    background-color: #fff;
    padding: 15px;
    cursor: pointer;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 2px;
    display: block;
    color: #333333;
    border: 1px solid #fff8e6;
}

.accordeon-title:after {
    content: '+';
    float: right;
    font-size: 16px;
    color: #333333;
    background: #f0f5f9;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
    font-weight: bold;
}

.accordeon-title.is-opened {
    background-color: #EBA900;
    color: #fff;
}

.accordeon-title.is-opened:after {
    content: '-';
}

.accordeon-content {
    display: none;
    padding: 15px;
    margin-bottom: 10px;
}


/* ======= Guaratess ======= */

.guaratess {
    background: #418acf;
    padding: 20px 0px;
}
 
.guarate {
    cursor: pointer;
}

.guarate img {
    float: left;
    width: 45px;
}

.guaratess p {
    color: #fff;
    padding-top: 10px;
    padding-left: 65px;
    font-weight: 600;
}


/* ======= Footer ======= */

.footer {
    background: #002a3a;
}

.footer p,
.footer a {
    color: #fff;
    line-height: 30px;
}

.footer h4.footer-title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.footer a {
    font-weight: normal;
    /* border-bottom: 1px solid #0c3648; */
    width: 100%;
    display: block;
    padding: 0px 0px;
    font-size: 12px;
}

.footer a:hover {
    color: #EBA900;
}

.footer .form-control {
    border: 1px solid #303444;
}

.footer .btn {
    width: 100%;
    height: 40px;
    line-height: 30px;
    background: #EBA900;
}

.footer .footer-social {
    margin-top: 20px !important;
}

.footer .footer-social li {
    padding: 0;
    padding-right: 5px;
}

.footer .footer-social a {
    border: 0;
    width: 30px;
    height: 30px;
    line-height: 20px;
    text-align: center;
    border-radius: 2px;
}

.footer .footer-social a i.icon {
    font-size: 16px;
    color: #fff;
    margin: 0;
    padding: 0;
}

.facebook {
    background: #1b78c7;
}

.twitter {
    background: #00bff3;
}

.googleplus {
    background: #67b807;
}

.pinterest {
    background: #da421f;
}

.dribbble {
    background: #bc2a83;
}

.tumblr {
    background: #5d748c;
}


/* ======= Copyright ======= */

.copyright {
    background: #001b29;
}
.copyright .container{
    padding: 50px 0px 10px;
}
.copyright p {
    margin: 0;
    color: #ffffff;
}

.copyright a.up {
    float: right;
}

.copyright a.up img {
    padding-left: 10px;
}


/* ======= Pages ======= */

.page .page-banner {
    padding: 30px 0px;
    overflow: hidden;
}

.page .page-banner h3 {
    padding-left: 15px;
    margin: 0;
    float: left;
    text-align: left;
}

.page .breadcrumb {
    background: transparent;
    padding: 0;
    padding-right: 15px;
    margin: 0;
    float: right;
}


/* ======= Account Page ======= */

section.account .title {
    margin: 0 auto;
    padding-bottom: 20px;
    width: 70%;
    text-align: center;
}

section.account ul.nav-tabs {
    display: block;
}

section.account .nav-tabs>li {
    width: 50%;
    height: 60px;
}

.nav-tabs>li>a {
    padding: 0;
    margin: 0;
    line-height: 60px;
    border: 0;
    text-align: center;
    color: #333333;
    background: #fff;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background: #EBA900;
    color: #fff;
    border: 0;
}

.nav-tabs>li>a:hover,
.nav>li>a:hover {
    background: #333333;
    color: #fff;
    border: 0;
}

.tab-content {
    padding-top: 30px;
}

section.account img.login-img {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* ======= About Page ======= */


/*Story*/

section.story {
    padding-bottom: 0;
    text-align: center;
}

section.story h1 {
    margin-bottom: 30px;
}

section.story .icon {
    padding-left: 0;
    padding-right: 10px;
    color: #EBA900;
}

section.story ul {
    margin-top: 20px;
    margin-bottom: 70px;
}


/*Rewards*/

section.history .block {
    background: #fff;
    padding: 30px;
    margin-bottom: 30px;
}

section.history .block span {
    margin-bottom: 10px;
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #6a7483;
    margin-top: -10px;
}


/*Team*/

.team {
    padding: 30px 30px 20px 30px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.team img {
    margin: 0 auto;
    margin-bottom: 30px;
}

ul.team-social {
    position: absolute;
    top: 30px;
    left: -30px;
    transition: .5s;
}

.team-social a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #f0f5f9;
    display: block;
    border-radius: 2px;
    margin-bottom: 2px;
}

.team-social .icon {
    padding: 0;
    font-size: 16px;
}

.team-social a:hover {
    background: #EBA900;
    color: #fff;
}

.team:hover ul.team-social {
    left: 0;
}


/* ======= Contact Page ======= */


/*Support*/

.contact.page section.support {
    background: #EBA900;
    color: #fff;
    min-height: 390px;
    padding: 0;
}

.contact.page section.support .container {
    min-height: 390px;
    position: relative;
}

.contact.page section.support img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.contact.page section.support .support-text {
    padding-top: 80px;
}

.contact.page section.support p {
    color: #fff;
}

.contact.page section.support .support-info p {
    font-size: 22px;
    margin-top: 20px;
}

.contact.page section.support .support-info a.btn {
    padding: 0px 20px;
    background: #333333;
    margin-top: 20px;
}


/*Contact info*/

.contact.page section.contact-info .block {
    padding: 0px;
    background: #fff;
}

.contact.page section.contact-info ul.info-details {
    background: #fff;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.contact.page section.contact-info ul.info-details li {
    border-bottom: 1px solid #fff8e6;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.contact.page section.contact-info ul.info-details li img {
    float: left;
}


/*Contact Form*/

section.contact-info ul.error-result {
    padding: 0px 0px 15px 0px;
}

section.contact-info ul.error-result li {
    margin-bottom: 15px;
    color: red;
}


/*Google Map*/

section.google-maps {
    padding: 0;
}


/*Support Center*/

section.support-center .block {
    border: none;
    padding: 30px;
}

section.support-center .block .text {
    text-align: center;
}

section.support-center .block img {
    margin: 0 auto;
    margin-bottom: 30px;
    float: none;
}

section.support-center .block .btn {
    margin-top: 20px;
}


/* ======= FAQs Page ======= */

section.popular-faqs .block {
    background: #fff;
    padding: 30px;
}

section.popular-faqs .block .text {
    text-align: center;
}

section.popular-faqs .block img {
    margin: 0 auto;
    margin-bottom: 30px;
    float: none;
}

section.categories-faqs .tab-content {
    padding-top: 0;
}

section.categories-faqs .nav-tabs>li>a {
    background: #f0f5f9;
}

section.categories-faqs .nav-tabs>li>a:hover {
    background: #EBA900;
}

section.categories-faqs .nav-tabs>li.active>a {
    background: #EBA900;
    color: #fff;
}

section.categories-faqs .nav-tabs {
    border: none;
    display: block;
}

section.categories-faqs .nav-tabs>li {
    display: block;
    width: 100%;
    float: none;
    margin-bottom: 10px;
    border: 1px solid #fff8e6;
    border-radius: 2px;
}

section.error-content p {
    margin: 30px 0px;
}


/* ======= Team Page ======= */


/*Perfect employee*/

section.perfect-employee .perfect-e-title {
    padding-top: 25%;
    line-height: 36px;
}

section.perfect-employee {
    background: #EBA900;
    cursor: pointer;
}

section.perfect-employee .team {
    margin-bottom: 0;
    background: #fff;
}


/*Team*/

.our-team.page .filters-button-group {
    margin-bottom: 50px;
}

.our-team.page .filters-button-group .btn.is-checked {
    background: #333333;
}

.our-team.page .teams .team {
    margin-bottom: 30px;
}


/* ======= Checkout Page ======= */


/*Billing Info*/

.checkout.page .billing-info {
    background: #FFF;
}

.checkout.page .billing-info ul.cart-total li {
    background: #fff;
    padding: 15px 30px;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    border-bottom: 1px solid #f0f5f9;
}

.checkout.page .billing-info ul.cart-total li:hover {
    background: #f0f5f9;
}

.checkout.page .billing-info ul.cart-total li.cart-head {
    background: #333333;
    color: #fff;
    font-weight: 600;
}

.checkout.page .billing-info .product {
    float: left;
}
.checkout.page .product-plan .product {
    float: left;
    width: 100%;
}
.checkout.page .billing-info .price {
    float: right;
}


/*Payment*/

.checkout.page .billing-info h2 {
    margin-bottom: 30px;
}

.checkout.page .billing-info ul.payment {
    margin: 0;
}

.checkout.page .billing-info ul.payment li {
    background: #fff;
    width: 49%;
    cursor: pointer;
}

.checkout.page .billing-info ul.payment li img {
    margin: 0 auto;
}


/*Billing Form*/

.checkout.page .form-control {
    margin-bottom: 15px;
}

.checkout.page .form-control:focus {
    background: #002a3c !important;
}


/* ======= Cart Page ======= */

.cart.page ul.cart {
    width: 100%;
}

.cart.page ul.cart>li {
    background: #f0f5f9;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    transition: .5s;
    position: relative;
}

.cart.page ul.cart>li:hover {
    background: #fff;
    border-color: #fff;
}

.cart.page ul.cart li.cart-head {
    background: #333333;
    color: #fff;
    font-weight: 600;
    border-radius: 2px;
}

.cart.page ul.cart li ul li {
    padding: 0 !important;
    margin: 0 !important;
    width: 20%;
    padding: 15px 30px !important;
}

.cart.page ul.cart li ul li.cart-product {
    width: 35%;
}

.cart.page ul.cart a.cart-delete {
    position: absolute;
    right: 30px;
    top: 15px;
}

.cart.page ul.cart a.cart-delete i.icon {
    font-size: 18px;
}

.cart.page ul.cart a.cart-delete:hover {
    color: #fff;
}

.cart.page ul.cart li.cart-all {
    background: #EBA900;
    color: #fff;
    display: block;
    width: 100%;
    padding: 15px 30px;
    overflow: hidden;
    border-top: 1px solid #fff;
}

.cart.page ul.cart li.cart-all span:last-child {
    float: right;
}

.cart-info .btns {
    text-align: center;
}
.autoconfig_container .btns{
	text-align: center;
	margin-top: 30px;
}
.cart-info a.btn {
    margin-top: 30px;
    padding: 10px 30px;
    background: #333333;
    height: auto;
}

.cart-info a.btn:hover {
    background: #EBA900
}


/* ======= Portfolio Page ======= */

.portfolio.page .project {
    cursor: pointer;
    text-align: center;
}

.portfolio.page .project .project-img {
    position: relative;
    height: 275px;
    overflow: hidden;
}

.portfolio.page section.our-portfolio .project .project-img {
    height: 275px;
    overflow: hidden;
}

.portfolio.page section.our-portfolio .project .project-img img {
    height: 100%;
    width: 100%;
}

.portfolio.page .project .project-content {
    background: #f0f5f9;
    padding: 15px 30px;
    transition: .5s;
}

.portfolio.page .project .project-content p {
    margin: 0;
}

a.project-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    line-height: 1;
    text-align: center;
    background: rgba(118, 224, 86, .9);
    color: #fff;
    display: block;
    overflow: hidden;
    transition: all 300ms ease-in-out 0s;
}

.project-hover i.icon {
    font-size: 24px;
    position: absolute;
    top: calc(50% - 7px);
    left: calc(50% - 7px);
}

.portfolio.page .project:hover a.project-hover {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.portfolio.page .project:hover .project-content p.main-color2 {
    color: #EBA900;
}

.portfolio.page section.our-portfolio .project {
    margin-bottom: 30px;
}

.portfolio.page .project .project-content {
    background: #fff;
}


/* ======= Nosotros(about) Page ======= */

.about.page .title {
    padding-bottom: 0px;
}

.about.page .project {
    cursor: pointer;
    text-align: center;
}

.about.page .project .project-img {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.about.page section.our-portfolio .project .project-img {
    height: 275px;
    overflow: hidden;
}

.about.page section.our-portfolio .project .project-img img {
    height: 100%;
    width: 100%;
}

.about.page .project .project-content {
    background: #f0f5f9;
    padding: 15px 30px;
    transition: .5s;
}

.about.page .project .project-content p {
    margin: 0;
}

a.project-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    line-height: 1;
    text-align: center;
    background: rgba(235, 171, 0, .9);
    color: #fff;
    display: block;
    overflow: hidden;
    transition: all 300ms ease-in-out 0s;
}

.project-hover i.icon {
    font-size: 24px;
    position: absolute;
    top: calc(50% - 7px);
    left: calc(50% - 7px);
}

.about.page .project:hover a.project-hover {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.about.page .project:hover .project-content p.main-color2 {
    color: #EBA900;
}

.about.page section.our-portfolio .project {
    margin-bottom: 30px;
}

.about.page .project .project-content {
    background: #fff;
}




/* ======= Blog Page ======= */


/*Posts*/

.blogs.page .blog {
    background: #f0f5f9;
    margin-bottom: 30px;
}

.blogs.page .blog img {
    border: 5px solid #fff;
    width: 100%;
    min-height: 350px;
}

.blogs.page .blog iframe {
    border: 0px;
    overflow: hidden;
    width: 100%;
    height: 350px;
}

.blog a.blog-title h4 {
    margin-top: 0px;
}

ul.blog-meta li,
ul.blog-meta li i.icon {
    padding: 0;
}

ul.blog-meta li a {
    font-size: 12px;
    margin-right: 15px;
    margin-bottom: 10px;
    display: block;
}

ul.blog-meta li a i.icon {
    font-size: 14px;
    padding-right: 10px;
}


/*Quote Post*/

.blogs.page .blog.quote_blog {
    background: #EBA900;
}

.blog.quote_blog .media .media-left i.icon {
    font-size: 40px;
    line-height: 40px;
    color: #fff;
    display: block;
}

.blog.quote_blog .media .media-body {
    padding-left: 30px;
}

.blog.quote_blog .media .media-body p {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}

.blog.quote_blog .media .media-body .quote_writer {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
}


/*Pagination*/

.pagination_nav .pagination {
    border-radius: 0;
    display: table;
    margin: 0 auto !important;
}

.pagination_nav .pagination li {
    float: left;
}

.pagination_nav .pagination li+li {
    margin-left: 10px;
}

.pagination_nav .pagination li a {
    padding: 0 19px;
    line-height: 36px;
    border-radius: 0;
    text-transform: uppercase;
    border: none;
    background: #f0f5f9;
    font-weight: bold;
    font-size: 12px;
    color: #333333;
}

.pagination_nav .pagination li a:hover,
.pagination_nav .pagination li.active a {
    background: #EBA900;
    color: #fff;
}

.pagination_nav .pagination li:first-child a,
.pagination_nav .pagination li:last-child a {
    border-radius: 0;
    font-size: 12px;
}


/* ======= Sidebar ======= */

.sidebar section {
    background: #fff;
    margin-bottom: 30px;
    background: #f0f5f9;
    padding: 30px 15px;
}

.sidebar section h5 {
    margin-bottom: 30px;
    margin-top: 0;
    font-weight: 600;
    font-size: 18px;
}

.sidebar img {
    width: 70px;
    height: 70px;
    border: 3px solid #fff;
    float: left;
    margin-right: 15px;
}


/*Recent Posts*/

.recent-post {
    margin-top: 15px;
    display: block;
}

.recent-post {
    display: block;
    overflow: hidden;
}

.recent-content a {
    display: block;
}

.recent-content a.date {
    font-size: 12px;
    color: #EBA900;
    margin-top: -5px;
}


/*Category*/

.sidebar .categories li {
    border-bottom: 1px solid #eaebeb;
    display: block;
    overflow: hidden;
}

.sidebar .categories a {
    padding: 10px 0px;
    display: inline-block;
}

.sidebar .categories a.cat-num {
    color: #6a7483;
    float: right;
}

.sidebar .categories a.cat-name {
    float: left;
}


/*Tags*/

.sidebar .tags a {
    border: 2px solid #fff;
    padding: 5px;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
    background: #fff;
}

.sidebar .tags a:hover {
    border-color: #EBA900;
    background: #EBA900;
    color: #fff;
}


/* ======= Single Page ======= */

section.single-post .post-content {
    overflow: hidden;
    margin-bottom: 30px;
}

section.single-post img.single-img {
    width: 100%;
}

section.single-post .post-content .post-text,
section.single-post .related-post {
    padding: 30px;
}

section.single-post .post-content .post-text a.blog-title {
    margin-bottom: 30px;
    display: block;
}

section.single-post .post-content .post-text h5.heading-title {
    margin: 30px 0px;
}

section.single-post .post-content .post-text .media {
    margin: 30px 0;
}

section.single-post .post-content .post-text .media img {
    margin-right: 30px;
}

section.single-post .post-content .post-text ul.post-list {
    margin-top: 20px !important;
}

section.single-post .post-content .post-text ul.post-list li,
section.single-post .post-content .post-text ul.post-list li i.icon {
    padding: 0;
    padding-right: 15px;
}


/*Post Pager*/

.post-pager {
    margin-top: 30px !important;
    padding: 30px;
    display: block;
    overflow: hidden;
}

.post-pager li.previous {
    float: left;
    text-align: left;
}

.post-pager li.next {
    float: right;
    text-align: right;
}

.post-pager li a {
    font-weight: 600;
    color: #333333;
    font-size: 14px;
    text-transform: capitalize;
}

.post-pager li a:hover,
.post-pager li a:focus {
    background: none;
    color: #EBA900;
}

.post-pager li .post_title {
    font-size: 18px;
    font-weight: 500;
}

.post-pager li.previous a i {
    margin-right: 10px;
    padding: 0;
}

.post-pager li.next a i {
    margin-left: 10px;
    padding: 0;
}


/*Author*/

.post_author {
    margin: 30px 0;
    padding: 30px;
    background: #333333;
    overflow: hidden;
}

.post_author i.icon {
    font-size: 14px;
    padding: 0;
    padding-right: 10px;
    color: #fff;
}


/*Post Comments*/

.post-comments {
    margin-bottom: 30px;
    padding: 30px;
}

.post-comments h4 {
    margin-bottom: 30px;
}

.post-comments .media {
    border: 1px solid #fff;
    padding: 15px;
}

.post-comments .comment-info {
    overflow: hidden;
}

.post-comments .comment-info h5 {
    float: left;
}

.post-comments a.comment-date {
    font-size: 12px;
    display: inline-block;
    padding-top: 5px;
    padding-left: 10px;
    float: right;
}

.post-comments .media-left {
    padding-left: 10px;
    padding-right: 20px;
}

.post-comments .media-left a {
    width: 70px;
    height: 70px;
    display: block;
}

.post-comments .media-left a img {
    width: 100%;
}

.post-comments .media-body .btn-reply {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    background: #fff;
    line-height: 32px;
    padding: 5px 30px;
    margin-top: 5px;
    display: inline-block;
}


/*Leave Comment*/

.leave-comment {
    padding: 30px;
}

.leave-comment h4 {
    margin-bottom: 30px;
}


/* ======= Domain Page ======= */


/*Domains Table*/

.pricing_table {
    background: #fff;
    font-size: 12px;
}

.pricing_table thead tr th {
    width: 1%;
    border: none;
    padding: 0 10px;
    line-height: 60px;
    color: #fff;
    background: #333333;
    white-space: nowrap;
    text-align: center;
}

.pricing_table tbody {
    padding-bottom: 10px;
}

.pricing_table tbody tr th {
    border: none;
    padding: 0 10px;
    line-height: 60px;
    color: #333333;
    min-width: 300px !important;
}

.pricing_table tbody tr {
    cursor: pointer;
    transition: .5s;
    border-bottom: 1px solid #fff;
}

.pricing_table tbody tr:hover {
    background: #f0f5f9;
}

.pricing_table tbody tr td {
    border: none;
    padding: 0;
    line-height: 60px;
    padding: 0 10px;
    color: #6a7483;
    font-weight: 600;
    text-align: center;
}

.pricing_table .btn{
	min-width: 100px;
    height: 44px;
}

/* ======= Features Page ======= */

section.main-features .btn {
    margin-top: 5px;
}

section.main-features-2 {
    background: #333333;
}

.features-page.page img.img-left,
.shared-page.page img.img-left {
    float: right;
}


/* ======= 404 and comingsoon Pages ======= */

section.error-content .error-img,
section.comingsoon-content .comingsoon-img {
    border: 1px solid #fff8e6;
    text-align: center;
    padding: 0px 30px 30px 30px;
}

section.error-content .error-img img,
section.comingsoon-content .comingsoon-img img {
    margin: 0 auto;
}

section.comingsoon-content {
    padding: 0;
    padding-top: 50px;
}

section.comingsoon-content .comingsoon-text {
    padding-top: 100px;
}

section.comingsoon-content .form-control:focus {
    background: #EBA900 !important;
}

section.comingsoon-content form {
    margin-top: 30px;
}


/* ======= Pricing Pages ======= */

section.pricing-table-2 {
    background: #333333;
}

section.pricing-table-3 .price-table {
    text-align: right;
    overflow: hidden;
    cursor: inherit;
}

section.pricing-table-3 .price-t-content {
    display: table-cell;
    padding-left: 30px;
    text-align: left;
    float: left;
}

section.pricing-table-3 img {
    float: left
}


/* ======= Domain Search Pages ======= */

section.domain-search-result .btn {
    margin-top: 30px;
}

section.domain-search-result .pricing_table tbody tr {
    cursor: pointer;
    transition: .5s;
    border-bottom: 1px solid #fff;
    background: #f0f5f9;
}

section.domain-search-result .pricing_table tbody tr:hover {
    background: #fff;
}

section.domain-search-result .pricing_table tbody tr.disabled {
    opacity: .5;
    cursor: not-allowed;
}


/* ======= Firfox Customize ======= */

@-moz-document url-prefix() {
    ul.dropdown {
        top: 94%;
        border-top: 3px solid transparent;
        display: none;
    }
    ul.menu>li:hover ul.dropdown {
        border-top: 3px solid #EBA900;
        top: 100%;
        display: block;
    }
    .mobile-menu {
        display: none !important;
    }
    .mobile-menu-open {
        display: block !important;
    }
}


/* ======= Edge Customize ======= */

@supports (-ms-ime-align: auto) {
    ul.dropdown {
        top: 94%;
        border-top: 3px solid transparent;
        display: none;
        background: #f0f;
    }
    ul.menu>li:hover ul.dropdown {
        border-top: 3px solid #EBA900;
        top: 100%;
        display: block;
    }
    .mobile-menu {
        display: none !important;
    }
    .mobile-menu-open {
        display: block !important;
    }
}

.link_acceso_portal{
	color: #fff !important;
	background-color: #ebaa00;
	padding: 5px 15px !important;
	border-radius:  5px;
	margin-top: 10px;
}
.link_acceso_portal:hover, .link_acceso_portal:focus{
	color: #fff !important;
	background-color: #df7848 !important;
}
.footer_text{
	font-size: 12px;
}
.footer-soporte{
	margin-top: 20px;
}
.dir_footer{
	color: #fff;
	margin-top: 4px;
	float: left;
	display: block;
	margin-right: 30px;
	margin-bottom: 15px;
}
.dir_footer p{
	margin: 0px 0px 0px 0px;
	font-size: 11px !important;
	line-height: 20px;
}
.title_dir_footer{
	font-weight: bold;
}
.social_footer{
	margin-top: 60px;
}
.dir_footer_cont{
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
}
.logores{
	width: 210px;
}
.logores_footer {
    float: left;
    width: 420px;
}
.logores_footer_mobile{
    float: left;
    width: 210px;	
    margin-bottom: 10px;
}
.footer_text_ne{
	font-size: 12px;
}
.footer_isotext{
	float: right;
	font-size: 12px;
}
.footer_payments{
	width: 320px;
	float: right;
	margin-bottom: 30px;
}
.link_footer_acceso_portal{
	color: #fff !important;
	background-color: #ebaa00;
	padding: 5px 15px !important;
	border-radius:  5px;
	margin-top: 10px;
}
.link_footer_acceso_portal:hover, .link_footer_acceso_portal:focus{
	color: #fff !important;
	background-color: #df7848 !important;
}
.link_footer_registro{
	color: #fff !important;
	background-color: #428bca;
	padding: 5px 15px !important;
	border-radius:  5px;
	margin-top: 30px;
}
.link_footer_registro:hover, .link_footer_registro:focus{
	color: #fff !important;
	background-color: #1f5e8b !important;
}
.plan_price{
	margin: 0px;
	padding: 0px;
	width: 100%;
	display: inline-block;
}
.option_price{
	margin: 0px;
	padding: 0px 5px;
	width: 50%;
	float: left;
}
.plan_price_action{
	width: 100%;
	float: left;
	padding: 10px 0px 0px 0px;
}
.anual-price span.price {
    font-size: 22px;
    color: #EBA900;
    font-weight: bold;
    display: inline-block;
    width: 100%;
}
.anual-price span.price-normal {
    font-size: 14px;
    color: #777777;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    text-decoration: line-through;
}
.anual-price span.price-descto {
    font-size: 14px;
    color: #FFFFFF;
    display: inline-block;
    width: 100%;
    border-radius: 15px 15px 15px 15px; 
	padding: 0px 5px 0px 5px; 
	border: 1px solid #EBA900; 
	background-color: #EBA900; 
}
.anual-price a{
	background-color: #EBA900;
	color: #fff;
	width: 100%;
	border-radius: 2px;
	padding: 10px 20px;
	display: inline-block;
	margin-top: 20px;
}
.anual-price span.per {
    font-size: 14px;
    display: inline-block;
    width: 100%;
}
.mensual-price span.price {
    font-size: 22px;
    color: #002a3a;
    font-weight: bold;
    display: inline-block;
    width: 100%;
}
.mensual-price span.price-normal {
    font-size: 14px;
    color: #777777;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    text-decoration: line-through;
}
.mensual-price span.price-descto {
    font-size: 14px;
    color: #FFFFFF;
    display: inline-block;
    width: 100%;
    border-radius: 15px 15px 15px 15px; 
	padding: 0px 5px 0px 5px; 
	border: 1px solid #002a3a; 
	background-color: #002a3a; 
}
.mensual-price a{
	background-color: #002a3a;
	color: #fff;
	width: 100%;
	border-radius: 2px;
	padding: 10px 20px;
	display: inline-block;
	margin-top: 20px;	
}
.mensual-price span.per {
    font-size: 14px;
    display: inline-block;
    width: 100%;
}
.price-plan-details{
	padding: 10px 10px 0px 10px;
	width: 100%;
	display: inline-block;
}

.price-table .p-l {
    font-size: 14px;
    line-height: 20px;
}

.once_price{
	margin: 0px;
	padding: 0px 5px;
	width: 100%;
	display: inline-block;
}
.performance {
    width: 60px;
    margin-bottom: 0px !important;
    margin-top: 10px;
}
.titulo-plan{
	margin-bottom: 30px;
    font-size: 18px !important;
    height: 20px !important;
    overflow: hidden;
}
.p-l-p i {
    margin-left: 5px;
}
a.terminar_compra:hover{
	color: #df7848;
}
.carro_globo {
    background: #df7848;
    color: #fff;
    position: absolute;
    border-radius: 15px;
    padding: 2px 5px 0px 6px;
    font-size: 9px;
    line-height: 14px;
    top: 10px;
    left: 8px;
    text-align: center !important;
}
.iconcarro_header {
    padding-right: 13px;
    font-size: 12px;
}
.comprar_ayuda_guar{
	font-size: 22px;
	color: #fff;
	text-align: center;
	width: 100%;
	margin: 10px 0;
}
.comprar_ayuda_guar a{
	font-size: 22px;
	color: #fff;
	text-align: center;
	text-decoration: underline;
}
.cart-total{
	border: 1px solid #efefef;
}
.stepwizard-step p {
    margin-top: 10px;
    margin-bottom: 0px !important;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    position: relative;
    float: right;
    width: 100%;
}

.stepwizard-step[disabled] .btn {
    background-color: #919ea9 !important;
    opacity: 1 !important;
}

.stepwizard-step[disabled]:before {
    background-color: #919ea9;
}

.stepwizard-step:before {
    top: 17px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 3px;
    background-color: #EBA900;
    z-index: -1;
    left: 0;

}
.stepwizard-step:first-child:before {
    left: 50%;

}
.stepwizard-step:last-child:before {
    width: 50%;

}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
    width: 25%;
    z-index: 1;
}
.stepwizard .btn{
	min-width: 0 !important;
}
.stepwizard .btn-circle {
    width: 36px;
    height: 36px;
    text-align: center;
    padding: 10px 0px 0px 0px;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 20px;
}
.stepwizard .btn-circle:hover {
    background-color: #df7848;
}
.stepwizard .btn-primary {
    border-color: transparent !important;
}
.stepwizard .btn-default {
    border-color: transparent !important;
}
.checkout .page-banner h3 {
    padding-left: 15px;
    margin: 0;
    float: left;
    font-size: 22px;
    margin-top: 20px;
}
.checkout .title {
    margin: 0 auto;
    padding-bottom: 20px;
    width: 70%;
    text-align: center;
}
.cart-total .product_detail{
	color: #8e969a;
    font-size: 12px;
    font-weight: normal;
}
.checkout .white-form .btn {
    width: 100%;
    background: #EBA900;
}
.checkout .white-form .btn:hover {
    width: 100%;
    background: #df7848;
}
.checkout .title_registro{
	margin: 50px auto 0 auto !important;
    width: 70%;
    text-align: center;
}
.checkout .btn_registro {
    width: 100%;
    margin-top: 20px;
    background-color: #df7848;
}
.checkout .btn_registro:hover {
    background-color: #df7848 !important;
}
.checkout .title a {
    color: #EBA900;
}
.checkout .title .p-l {
    font-size: 14px;
}
.checkout .title_registro .p-l {
    font-size: 14px;
}
.checkout .title_registro .p-l a{
    color: #ebaa00 !important;
}
.cart-total-top{
	margin-top: -30px !important;
	margin-bottom: 30px !important;
}
.header-support{
	margin-left: 0px !important;
}
.checkout .detalle-plan{
    padding: 20px;
    position: relative;
    text-align: left;
    margin-bottom: 30px;
    border-radius: 5px;
}
.checkout .adicional{
    padding: 20px 20px 0 20px;
    position: relative;
    text-align: left;
    margin-bottom: 30px;
    border-radius: 5px;
}
.detalle-plan .detalle-plan-title{
    color: #333;
    font-size: 20px;
    margin: 0px 0px 15px 0px;
    display: inline-block;
    width: 100%;
}
.detalle-plan p{
	font-size: 14px;
	margin: 0px !important;
}
.detalle-plan-lch{
	font-size: 11px !important;
}
.detalle-row{
	display: inline-block;
	width: 100%;
}
.checkout .icon-detalleplan {
    position: absolute;
    top: 15px;
    right: 10px;
}
.checkout .icon-detalleplan i{
    font-size: 20px;
    color: #717171;
}
.checkout .checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.checkout .checkbox input{
    margin-top: 5px;
}
.checkout label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    color: #5b636b;
}
.domain-bg {
    background: #e3f5fd !important;
}
.domain-bg .form-control{
    background: #fff !important;
}
.domain-bg .icon-detalleplan i{
    font-size: 20px;
    color: #0e93cc;
}
.checkout .cart-total .price b{
	font-size: 20px;
}
.checkout .cart-total .price {
	font-size: 12px;
}
.checkout .cart-total p.product-detail{
	font-size: 12px;
	display: inline-block;
}
.adicional {
    background: none !important;
    border: solid 1px #f0f5f9;
}
.adicional_image {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
.adicional label {
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.adicional_image img{
	width: 60px;	
}
.adicional .checkbox label{
    font-size: 13px;
}
.teams .p-l {
    font-size: 14px;
}
.checkout.page .billing-info .checkbox {
    float: left;
    width: 100%;
}
.checkout.page .billing-info .checkbox label{
    font-size: 16px !important;
}
.checkout.page .billing-info .opcion {
    float: left;
}
.metodo_pago{
	margin: 20px 0px;
}
.form_metodo_pago{
	margin: 40px 0px;
	float: left;
}
.checkout.page label.error {
    color: #df7848;
    font-size: 13px;
    margin-top: -10px !important;
    float: left;
    width: 100% !important;
}
.checkout.page #error_login {
    color: #df7848;
    font-size: 14px;
    margin-top: -10px !important;
    float: left;
}
.checkout.page #error_registro {
    color: #df7848;
    font-size: 14px;
    padding-top: 5px !important;
    padding-bottom: 5px;
    float: left;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .5em;
    background: #fff;
    border: none;
    border-radius: 3px;
    padding: 1em 2em 1em 1em;
    font-size: 1em;
    width: 100%;
    margin-bottom: 15px;
}
.select-container {position:relative; display: inline;}
.select-container:after {content:""; width:0; height:0; position:absolute; pointer-events: none;}
.select-container:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: .3em;
    right: .75em;
    border-top: 8px solid black;
    opacity: 0.5;
}
select::-ms-expand {
    display: none;
}
.select-autoconfigVPS{
	position: initial;
	display: inline;
}
.select-autoconfigVPS:after{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 3.9em;
    right: 1.9em;
    border-top: 8px solid black;
    opacity: 0.5;
}
.planes_datacenter_cloud select{
	line-height: 12px;
	margin-bottom: 12px;
}

.modal-title{
	width: auto;
	font-size: 16px !important;
}
#checkout_cart{
	width: 457px;
}
#column_cart_bottom{
	margin-bottom: 30px;
}
.column_cart_bottom{
	margin-top: 40px;
}
.autoconfig_text{
	margin-top: 20px;
}
.autoconfig_price{
	font-size: 24px;
	margin-top: 20px;
	display: block;
}
.autoconfig_price_mensual {
	font-size: 24px;
	margin-top: 20px;
	display: block;
	color: #02A3A;
	font-weight: bold;
}
.autoconfig_price_anual {
	font-size: 24px;
	margin-top: 20px;
	display: block;
	color: #EBA900;
	font-weight: bold;
}
.autoconfig_price_normal {
	font-size: 14px;
	color: #777777;
	font-weight: bold;
	display: inline-block;
	width: 100%;
	text-decoration: line-through;
}
.autoconfig_descto {
	font-size: 14px;
	color: #FFFFFF;
	display: inline-block;
	border-radius: 15px 15px 15px 15px;
	padding: 0px 5px 0px 5px;
	border: 1px solid #002a3a;
	background-color: #002a3a;
}
.autoconfig_descto_mensual {
	font-size: 14px;
	color: #FFFFFF;
	display: inline-block;
	border-radius: 15px 15px 15px 15px;
	padding: 0px 5px 0px 5px;
	border: 1px solid #002A3A;
	background-color: #002A3A;
}
.autoconfig_descto_anual {
	font-size: 14px;
	color: #FFFFFF;
	display: inline-block;
	border-radius: 15px 15px 15px 15px;
	padding: 0px 5px 0px 5px;
	border: 1px solid #EBA900;
	background-color: #EBA900;
}
.btn_zimbra_buy_menual {
	background-color: #002A3A !important;
}
.btn_zimbra_buy_anual {
	background-color: #EBA900 !important;
}



#form_contacto label.error {
    color: #df7848;
    font-size: 14px;
    margin: 0px !important;
    float: left;
    width: 100% !important;
    font-weight: 400;
}
#form_contacto select {
    margin-bottom: 0px !important;
}

#form_curriculum label.error {
    color: #df7848;
    font-size: 14px;
    margin: 0px !important;
    float: left;
    width: 100% !important;
    font-weight: 400;
}
#form-validate-result{
    margin: 0px 10px 15px 15px;
    color: #df7848;
    text-align: center;
}   
#contacto_success{
    text-align: center;
}
.homecenter-netexplora {
	text-align: center;
}
.homecenter-netexplora img{
	margin-right: 10px;
}
.homecenter-netexplora a{
	font-size: 16px;
}
.pdf-netexplora{
	margin-top: 50px;
	text-align: center;
}
.pdf-netexplora img{
	margin-right: 10px !important;
}
.soluciones a{
	color: #EBA900 !important;
}
.clientes a {
    font-size: 14px;
    text-decoration: underline;
}
.clientes .p-l {
    font-size: 14px;
    line-height: 26px;
}
section.homefeatures .block p, section.homefeatures .block span {
    text-align: center;
}
section.homefeatures .team img {
    margin: 0 auto;
    margin-bottom: 20px;
}
section.homefeatures .team {
    padding: 20px 20px 20px 20px !important;
}
.boton_todos_planes{
	text-align: center;
    width: 100%;
    float: left;
    margin-top: 30px;
}  
.directorio h1{
	text-align: left !important;
}  
.compatibilidad .row img{
	filter: grayscale(100%);
	width: 150px;
}
.compatibilidad .row div{
	text-align: center;
}
.features li .icon {
    padding-left: 0px !important;
    margin-right: 5px;
}
#servicios_adicionales .modal-body p{
	line-height: 20px;
}
#servicios_adicionales .modal-body .info_adicional {
    width: 100%;
    display: inline-block;
}
.directorio label.error {
    color: #df7848;
    font-size: 13px;
    margin-top: 5px !important;
    float: left;
    width: 100% !important;
}
.price-table-cast{
    margin-bottom: 30px;
    margin-top: 30px
}
.home_text_content{
	display: inline-block;
    margin-left: 20px;
}
.home_title_cast{
	font-size: 24px;
	text-transform: uppercase;
	text-align: left;
}
.home_text_cast{
	font-size: 18px;
	text-align: left;
}
.price-table-cast img{
	vertical-align: top;
}
.cast-pre-slider h2{
	color: #fff;
    font-size: 25px;
    font-weight: normal;
}
.cast-pre-slider{
	text-align: center;
}
.box-util-text h2{
	text-align: center;
    width: 50%;
    margin: 0 auto;
    font-weight: 400;
}
.box-util-text .p-l{
	text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
}
.cont-porque{
	margin: 40px 0 60px 0;
}
.titulo_home_cast{
	text-align: center;
    background-color: #f0f5f9;
    padding: 40px 0;
    margin-top: -60px;
    margin-bottom: 60px;
}
.servicios-home-cast{
	margin-top: 10px;
}

.infraestructura-home {
    background: #4089d5;
    padding: 50px 0px;
    text-align: center;
}
.infraestructura-home .btn{
    background: #001b2a;
}
.infraestructura-home .p-l{
	font-size: 21px;
    margin-right: 10px !important;
}

.other-features .icon {
    padding-left: 0;
    padding-right: 10px;
    color: #EBA900;
}

.other-features ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

.features_down_image{
	text-align: center;
	font-size: 17px !important;
}
section.header_clientes p{
	font-size: 15px;
}

.content_clientes .p-l{
	text-align: center;
    margin: 0 auto;
    width: 100% !important;
    margin-top: 10px;
}

.dir_disenadores {
    background: #89bdd2;
    padding: 50px 0px;
    text-align: center;
}
.dir_disenadores span{
    text-decoration: underline;
}
.dir_disenadores p {
    padding-top: 5px;
    font-size: 20px;
}
.title_cast_dis{
	font-size: 20px;
    text-align: left;
    margin-top: 40px;
}
.deal_dis{
	width: fit-content;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-top: 60px;
    text-align: center;
}
.nosotros_text{
	font-size: 16px;
	margin-top: 20px;
}
.nosotros_dir{
	text-align: center;
    font-size: 17px;
    margin: 40px 0;
}
.titulo_soporte_cast{
	text-align: center;
    background-color: #f0f5f9;
    padding: 40px 20px;
    font-weight: normal !important;
}
.planes_datacenter_cloud h4{
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #333;
	padding: 20px;
	margin-bottom: 60px;
}
.planes_datacenter_cloud .btn{
	background-color: #001b2a;
}
.dc_cloud_text{
	font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}
.dc_cloud_total{
	font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}
.dc_cloud_pie{
	margin-top: 20px;
	font-size: 16px;
}
.sub_titulo_planes_datacenter{
	font-size: 28px;
    color: #333;
    text-align: center;
    margin: 20px 0px 40px 0px;
	
}
.planes_datacenter_separador{
	text-align: center;
    border-top: 1px solid #333;
    width: 70%;
    height: 1px;
    display: inline-block;
    margin: 20px 15% !important;
    position: relative;
}
.express_contratar .price-table .p-l {
    font-size: 20px;
    line-height: 30px;
    color: #333;
    font-weight: bold;
}
.express_contratar .plan_price {
    margin: 30px 0 0 0;
    padding: 0px;
    width: 100%;
    display: inline-block;
}
.planes_datacenter_cloud #error {
    color: #df7848;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 20px;
    float: left;
    width: 100% !important;
}
.page-banner h1 {
    font-size: 23px;
    font-weight: 300 !important;
    padding: 0 !important;
    margin: 0 !important;
    line-height: 12px;
    display: inline-block;
}
.titulo_ed{
	font-size: 37px !important;
    font-weight: 600 !important;
    color: #4c565b !important;
}
.list-unstyled li p{
	margin-bottom: 0px !important;
}

.domain-list-price {
	color: black;
	font-size: 16px;
	font-weight: normal;
}

/*----Calendario---*/

.ui-datepicker-month, .ui-datepicker-year {
    padding: 2px;
}

.ui-datepicker-calendar thead{
    display: none;
}

/*----Listado de Checkbox---*/

.checkbox-list{
    background-color: #fff;
    border: solid 1px #fff;
    border-radius: 2px; 
    font-size: 14px;
    color: #6a7483;
}

.checkbox-list input[type="checkbox"]{
    margin-top: 1px;
    vertical-align: text-top;
}

.checkbox-item{
    width: 355px; 
    display: inline-block; 
    padding: 0px 5px;
}

.file-text{
    font-size: 14px;
    color: #999;
    display: block;
    font-style: italic;
    border-color: #fff;
    box-shadow: 0 0 0;
    background-color: #fff;
    width: 100%;
    padding: 2px 12px;
    border-radius: 0px 0px 2px 2px;
}

.light-label{
    font-size: 14px;
    color: #999;
    display: block;
    border-color: #fff;
    width: 100%;
    padding: 2px 12px;
    background-color: #fff;
    border-radius: 2px 2px 0px 0px;
}

.textarea-scroll{
    resize: none !important;
    overflow-y: scroll !important;
    height: 110px !important;
    line-height: 1.1 !important;
    font-size: 14px !important;
    padding: 8px 3px 3px 15px !important;
}

/*----Ecommerce---*/

html{
    scroll-behavior: smooth;
}

.presentation{
    width: 100%;
    height: fit-content;
    background-color: #4089d5;
    padding: 0;
}

.presentation div{
    margin:auto;
    height: fit-content;
    background-color: #4089d5;
    display: flex;
}

.cont_shop, .cont_info_pres{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.cont_info_pres{
    align-items: flex-start;
    padding-left: 5%;
}

.cont_info_pres.p4{
    padding-left: 3%;
}

.cont_info_pres h1{
    font-size: 5rem;
    color: white;
    font-weight: 500;

}

.shopping{
    max-height: 360px;
    max-width: 647px;
}
´

.ver_planes{
    font-size: 16px;
    padding: 10px 20px!important;
}


.que_es{
    max-width: 1170px;
    margin: auto;
    padding: 45px 0;
    display: flex;
    align-items: center;
}

.que_es .linea_vertical{
    background-color: #EBA900;
    height: 80px;
    margin: 0 20px;
    width: 10px;
}

.que_es p, .que_es h2{
    padding: 0;
    margin:0;
}

.que_es h2{
    font-weight: 900;
    text-align: right;
    color: #212962; 
}

.pasos3 .container{
    display: flex;
    justify-content: center;
}

.pasos3 .container .expli_pasos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.pasos3 .container .expli_pasos h2{
    font-weight: 900;
    text-align: right;
    color: #212962; 
    line-height: 4rem;
}

.pasos3 .container .expli_pasos p{
    text-align: right;
}

.pasos3 .container .cont_cell{
    margin: 0 30px;  
}

ol.carousel-indicators li{
    width: 41px;
    height: 8px;
    margin: 0 6px;
    background-color: #a1c3fc;
}

ol.carousel-indicators li.active{
    width: 41px;
    height: 8px;
    margin: 0 6px 0 0;
    background-color: #4089d5;
}

.carousel-inner, .expli_pasos{
    width: 350px;
}

.por_que .container .beneficio_porque div h2,
.carousel-inner .item h2{
    color: #4089d5;
    font-size: 4.5rem;
    font-weight: 900;
    margin-bottom: 0;
}

.por_que .container .beneficio_porque div h3,
.carousel-inner .item h3{
    color: #1f275f;
    font-size: 3rem;
    font-weight: 900;
    margin-top: 10px;
}

#carousel-example-generic ol.carousel-indicators{
    margin-left: 0;    
    width: 100%;
    left: 0;
    text-align: start;
}

ol.carousel-indicators li.active,
ol.carousel-indicators li{
    margin: 0 8px 0 0;
}

#carousel-example-generic .carousel-inner .item,
#carousel-example-generic .carousel-inner .item.active{
    padding-top: 50px;
}

.por_que .container div.dibujo_porque {
    display: flex;
    justify-content: center;
}

.por_que .container div.dibujo_porque h2{
    font-weight: 900;
    text-align: right;
    color: #212962; 
    line-height: 4rem;
    align-self: center;

}

.por_que .container div.dibujo_porque img{
    height: 400px;
    margin-right: 40px;
    margin-bottom: 45px;
}

.por_que .container .beneficio_porque{
    display: flex;
    height: fit-content;
}

.por_que .container .beneficio_porque .linea_vertical{
    background-color: #EBA900;
    width: 9px;
    height: calc(100%-1px);
    margin: 0 40px;
}

.pasos3, .planes{
    box-shadow: 10px 0px 16px 0 rgba(0, 0, 0, 0.36);
}

#preguntas_frecuentes div.container h2,
.planes .container h2{
    font-weight: 900;
    text-align: right;
    color: #212962; 
    line-height: 4rem;
    text-align: center;
}

.planes .container p{
    text-align: center;
}

.card_individual h4{
    text-align: center;
    color: #23286b;
    font-weight: 900;
}

.card_individual p{
    color: black;
}

.card_individual div{
    margin-top: 20px;
}
.card_individual div p span.price-normal {
    color: #777777;
    text-decoration: line-through;
    margin-right: 10px;
}

.card_individual div  p span a.link_acceso_portal{
    text-transform: uppercase;
}

.bold{
    font-weight: bold;
}

.card_individual{
    width: 350px;
    height: fit-content;
    background-color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 25px 20px;
    margin: 20px 10px;
}

.card_individual div div p.txt_asterisco{
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #777777;
    margin-top: 0;
    text-align: right;
}

.card_individual div div p.iva{
    margin: 0;
    text-align: right;
}

.card_individual div div p.precio_grande{
    font-weight: 900; 
    color: #4089d5;
    font-size: 7rem;
    margin: 40px 0 25px 0;
}

.card_individual div div.precio{
    width: fit-content;
    margin: auto;
}

.card_individual div ul.caracteristicas_plan{
    list-style: none;
    margin: 25px 0;
}

.card_individual div ul.caracteristicas_plan p{
    /* text-align: left; */
    text-align: center;
    margin: 0 30px;
}


.card_individual div ul.caracteristicas_plan li:before{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00c";
    padding-right: 10px;
    color: #e9ab00;
}

.card_individual div ul.caracteristicas_plan li.no_posee:before{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00d";
    padding-right: 10px;
    color: #777777;
}

.contratar{
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 20px!important;
    margin-top: 0;
}

div.boton_contratar{
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.cards_planes{
    display: flex;
    justify-content: center;
}

.cards_planes .card_individual{
    /* width: 740px; */
    width: 440px;
}

div.card_individual.card_principal{
    padding: 25px 20px;
    margin: 20px 10px;
}

div.card_principal div.mas_vendido{
    background-color: #4089d5;
}

.cards_planes .card_individual a.adicionales {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards_planes .card_individual a.adicionales i.fas.fa-plus-circle {
    margin-right: 5px;
}

section.features div.title h1 b,
section.features div.container div.title h1{
    color: #1f275f;
}

#preguntas_frecuentes{
    padding: 20px;
}

#preguntas_frecuentes div#accordion{
   margin-top: 30px;
}

section.features div.title {
    margin-top: 50px;
}

div#accordion div.panel{
    border-radius: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

div#accordion div.panel div.panel-heading {
    padding: 5px 0;
    border-radius: 20px;
}

div#accordion div.panel div.panel-heading div.faq-button h5{
    margin: 25px 30px;
    font-size: 25px;
    font-weight: 600;
    color: #1f275f;
}

div#accordion div.panel div.panel-heading {
    background-color: white;
    border-color: white;
}

div#accordion div.panel div.panel-collapse div{
    margin: 0 25px 30px 25px;
}

i.fas.fa-circle{
    font-size: 8px;
    padding-right: 12px;
    margin-bottom: 12px;
}

div.card_individual hr{
    border-top: 1px solid #979794;
    opacity: 0.70;
}

.card_individual div.form-check{
    margin-top: 0px;
}

.card_individual div.form-check .iconosPago{
    height: 18.2px;
}

.card_individual div.form-check label div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 290px;
    margin-top: 5px;
}

.card_individual div.form-check label div div.tituloPago{
    font-size: 18px;
    font-weight: 900;
    color: #23286b; 
    padding-left: 10px;
}

.card_individual div.form-check label div div.contIconos{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.card_individual div.form-check p {
    text-align: left;
    margin: 5px 0px 5px 30px;
    padding: 0;
    font-size: 14px;
    color: #373530;
}

#planes{
    padding-bottom: 0;
}

i.fas.fa-chevron-down,
i.fas.fa-chevron-up{
    font-size: 2rem;   
    color:  #1f275f;
    margin-right: 30px;
}

#accordion .panel .panel-heading .faq-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#accordion .panel .panel-heading .faq-button[aria-expanded="false"] .fa-chevron-up,
#accordion .panel .panel-heading .faq-button[aria-expanded="true"] .fa-chevron-up{
    display: inherit;
}

#accordion .panel .panel-heading .faq-button[aria-expanded="false"] .fa-chevron-up,
#accordion .panel .panel-heading .faq-button[aria-expanded="true"] .fa-chevron-down{
    display: none;
}

/* DEMO */

#demo{
    padding-bottom: 0;
    padding-top: 20px;
}

#demo.container .dibujo_demo{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
}

div.botonDemo a.ver_demo{
    width: 168px;
    height: 45px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#demo.container .dibujo_demo div h2{
    font-weight: 900;
    color: #212962;
    line-height: 4rem;
    align-self: center;
    text-align: center;
    margin-bottom: 0;
}

#demo.container .dibujo_demo div p{
    text-align: center;
}

#carousel-demo ol.carousel-indicators{
    margin-left: 0;    
    margin-bottom: 5px;
    width: 100%;
    left: 0;
    text-align: start;
}

#carousel-demo ol.carousel-indicators li:last-child{
    margin-right: 0;
}

#carousel-demo .carousel-inner .item,
#carousel-demo .carousel-inner .item.active{
    padding-top: 10px
}

#carousel-demo div.carousel-inner{
    margin: auto;
    text-align: center;
}

#carousel-demo div.carousel-inner .item div.botonDemo{
    display: grid;
    justify-content: center;
}

#demo .dibujo_demo div#carousel-demo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 60px;
}

#demo .dibujo_demo div#carousel-demo ol.carousel-indicators{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.contImagenDemo{
    display: flex;
    align-items: flex-end;
}

div.contImagenDemo img{
    width: 100%;
}

#carousel-demo .carousel-inner{
    width: 400px;
}

#carousel-demo .carousel-inner img{
    margin: 20px 0;
}

/* Qué ofrecemos */

.link_acceso_portal.ver_planes{
    padding: 5px 25px !important;
}

.shadow-bottom{
    box-shadow: 10px 0 16px 0 rgb(0 0 0 / 36%);
}

.shadow-none{
    box-shadow: none;
}

.w-100{
    width: 100%;
    /* border: red solid 1px; */
}

.cards_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 150px;
}

.card_item{
    width: calc( (100% - 80px) / 3) ;
    background-color: white;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 50%);
    border-radius: 10px;
    padding: 25px 20px;
    display: flex;
    gap: 15px;
    
}

.card_item i{
    font-size: 22px;
    color: #4089d5;
    position: relative;
    top: 2px;
}

.planes .container .card_item p{
    font-size: 16px;
    text-align: left;
    margin: 0;
}

.more-info {
    max-width: 1170px;
    margin: auto;
    padding: 45px 0;
    display: flex;
    align-items: center;
    height: 300px;
}

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}
.m-auto{
    margin: auto;
}

.more-info h2  {
    font-weight: 900;
    text-align: center;
    color: #212962;
    line-height: 43px;
}

.more-info .container .cont_shop img{
    width: 520px;
    position: relative;
    bottom: 71px;
}

.cont-more-info{
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.font-weight-black{
    font-weight: 900 !important;
    color: #1f275f;
    line-height: 43px;
}

section.box-util-text.content_clientes center{
    max-width: 1100px;
    margin: auto;
}

.downloads-links{
    margin-top: 30px;
}

.downloads-links img{
    margin: 0 5px;
}

.download-app{
    padding: 80px 0;
    box-shadow: 10px 0 16px 0 rgb(0 0 0 / 36%);
}

@media (max-width: 1100px){
    .cont_info_pres.p4{
        padding-left: 0;
    }
}

@media (max-width: 992px){
    .card_item {
        width: calc( (100% - 80px) / 2);
    }
    .more-info .container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .more-info .container .cont_shop img {
        max-width: 500px;
        width: 100%;
        position: relative;
        bottom: 150px;
        margin: auto;
    }
    .more-info .container .cont-more-info {
        margin-top: -150px;
        max-width: 100%;
    }
    .more-info{
        height: auto;
    }
    section.box-util-text.content_clientes center h2{
        width: 70%;
    }
}

@media (max-width: 658px){
    .card_item {
        width: calc( (100% - 80px));
    }
    section.box-util-text.content_clientes center h2{
        width: 90%;
    }
}

@media (max-width: 658px){
    .card_item {
        width: 100%;
    }
    .cards_items{
        gap: 20px;
        margin-bottom: 80px;
    }
    .more-info .container .cont_shop img{
        bottom: 100px;
    }
    .more-info .container .cont-more-info{
        margin-top: -120px;
    }

}