@media (min-width:992px) and (max-width:1200px){
	    /*logo netexplora*/
    header a.logo {
	    padding: 20px 0px;
	    float: left;
	    width: 160px;
	}
	#checkout_cart{
		width: 372px;
	}

}
@media (min-width:992px){
	section.homefeatures .col-md-2{
		width: 20% !important;
	}
}
@media (min-width: 992px){
	.slider-content{
		padding-top: 30px !important;
	}
}
@media (min-width:1200px){
	#checkout_cart{
		width: 457px;
	}
}
	
@media (max-width:991px){
	.footer_isotext{
	float: left;
	font-size: 13px;
	width: 100%;
	text-align: center;
}
	.footer_payments{
	width: 320px;
	float: left;
	margin-bottom: 30px;
	margin-top: 30px;
}
.dir_footer_cont {
    width: 100%;
}
.copyright .container {
    padding: 40px 0px 40px 0 !important;
}
}
@media (max-width:1199px){
.social_footer{
	margin-top: 20px;
}
}
@media (min-width:768px) and (max-width:991px) {
    section {
        padding: 30px 0px 50px 0px;
    }
    .title {
        padding-bottom: 50px;
        width: 70%;
    }
    .btn {
        min-width: 150px;
    }
    .m-b-tab-30 {
        margin-bottom: 30px !important;
    }
    .m-b-tab-0 {
        margin-bottom: 0 !important;
    }
    .h-80 {
        height: 50px;
    }
    /*Mobile Menu*/
    header.navbar {
        position: relative;
    }
    ul.dropdown {
        top: 94%;
        border-top: 3px solid transparent;
        display: none;
    }
    ul.menu>li:hover ul.dropdown {
        border-top: 3px solid #76e056;
        top: 100%;
    }
    .mobile-menu {
        display: none !important;
    }
    .mobile-menu-open {
        display: block !important;
    }
    ul.menu>li:hover ul.dropdown {
        display: none;
    }
    /*Slider*/
    section.slider .slider-content {
        padding-top: 0px;
    }
    .slick-next{
        right: -40px;
    }

    .slick-prev {
        left: -40px;
    }
    /*Domain Search*/
    .domain-search .btn {
        min-width: 0;
        width: 100%;
    }
    /*Blocks*/
    .block .text {
        text-align: center;
        display: block;
    }
    .block img,
    section.features .text-right .block img {
        width: auto;
        height: auto;
        display: block;
        float: none !important;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    /*Blog*/
    .blog a.btn {
        min-width: 0;
        width: 100%;
    }
    .blog img {
        width: 100%;
    }
    /*Guaratess*/
    .guaratess p {
        padding-top: 0;
    }
    /*Pages*/
    .page .breadcrumb {
        padding-right: 30px;
    }
    /*About Page*/
    .story .block {
        margin-bottom: 0;
    }
    .story img {
        width: 100%;
        height: auto;
    }
    section.story ul {
        margin-bottom: 20px;
    }
    /*Contact*/
    .contact.page img {
        width: auto;
        height: auto;
    }
    .support .block {
        text-align: center;
    }
    section.support-center .block .btn {
        padding: 0px 15px;
    }
    /*Blog*/
    .blogs.page .blog {
        padding: 15px;
    }
    .blogs.page figure iframe {
        height: 230px;
    }
    .blogs.page .blog img {
        height: 230px;
        min-height: auto;
    }
    ul.blog-meta li a {
        margin-bottom: 5px;
    }
    /*Single*/
    .media-body,
    .media-left,
    .media-right,
    .media-body,
    .media-left,
    .media-right img {
        display: block;
        width: 100%;
        padding: 0;
    }
    section.single-post .post-content .post-text .media img {
        width: 100%;
        margin-bottom: 30px;
    }
    section.single-post .post-content .post-text,
    section.single-post .related-post,
    .post-pager,
    .post_author,
    .post-comments,
    .leave-comment {
        padding: 15px;
    }
    .post-pager li {
        display: block;
        width: 50%;
        padding: 0;
    }
    .post-comments .media-left {
        margin-bottom: 5px;
        padding: 0;
    }
    /*Domains*/
    .pricing_table thead {
        white-space: nowrap;
    }
    .domain-list ul.nav-tabs>li>a {
        padding: 0px 15px;
    }
    /*Coming Soon*/
    section.comingsoon-content .comingsoon-text {
        padding-top: 30px;
    }
    /*Pricing*/
    .price-table img {
        margin: 0 auto;
        margin-bottom: 30px;
        display: block;
        float: none !important;
    }
    section.pricing-table-3 .price-t-content {
        padding-left: 0;
        text-align: center;
        display: block;
        width: 100%;
    }
    /*Portfolio*/
    .portfolio.page .project .project-img img {
        height: 100%;
    }


}

@media (max-width:767px) {

	.home_title_cast {
	    text-align: center;
	}
	.home_text_cast {
	    text-align: center;
	}
	.box-util-text .p-l{
		text-align: center;
	    width: 90%;
	    margin: 0 auto;
	    margin-top: 10px;
	}
	.box-util-text h2{
		text-align: center;
	    width: 90%;
	    margin: 0 auto;
	}
	.price-table-cast img {
	    vertical-align: top;
	    margin: 0 auto;
	    display: block;
	    margin-bottom: 20px;
	}
	
    section {
        padding: 50px 0px 50px 0px;
        text-align: justify;
    }
    .title {
        padding-bottom: 30px;
        width: 100%;
    }
    h1 {
        font-size: 30px;
    }
    .m-mob-0 {
        margin: 0 !important;
    }
    .m-b-mob-30 {
        margin-bottom: 30px !important;
    }
    .m-b-mob-0 {
        margin: 0 !important;
    }
    .btn{
        min-width: 130px;
    }
    /*Top Header*/
    .top-header ul.dropdown,
    .top-header ul.dropdown li {
        width: 150px !important;
        float: none !important;
    }
    .top-header .container ul:last-child {
        float: none;
        text-align: center;
    }
    /*Mobile Menu*/
    header.navbar {
        position: relative;
    }
    ul.dropdown {
        top: 94%;
        border-top: 3px solid transparent;
        display: none;
    }
    ul.menu>li:hover ul.dropdown {
        border-top: 3px solid #ebaa00;
        top: 100%;
    }
    .mobile-menu {
        display: none !important;
    }
    .mobile-menu-open {
        display: block !important;
    }
    ul.menu>li:hover ul.dropdown {
        display: none;
    }
    /*Slider*/
    section.slider .slider-content {
        padding-top: 30px;
        text-align: center;
    }
    section.slider .btn {
        margin-top: 20px;
        min-width: auto;
        padding: 0px 10px;
        height: 40px;
        line-height: 35px;
    }
    /*Domain Search*/
    .domain-search {
        text-align: center;
    }
    .domain-search .btn {
        width: 100%;
    }
    .domain-search .form-control {
        margin-bottom: 15px;
    }
    /*Blocks*/
    .block {
        text-align: center;
        margin-bottom: 30px;
    }
    .block .text {
        text-align: center;
    }
    .block img,
    section.features .text-right .block img {
        width: auto;
        height: auto;
        display: block;
        float: none !important;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    /*Clients*/
    .clients .block {
        margin-bottom: 30px;
    }
    /*Blog*/
    .blog {
        text-align: left;
    }
    .blog img {
        width: 100%;
    }
    /*Faq*/
    a.accordeon-title {
        text-align: left;
    }
    /*Footer*/
    .footer {
        padding: 50px 0px;
        text-align: left;
    }
    /*Copyright*/
    .copyright {
        height: auto;
        padding: 15px 15px;
    }
    .copyright a.up,
    .copyright p {
        width: 100%;
    }
    /*Pages*/
    .page .page-banner {
        padding: 15px;
    }
    .page .page-banner h3,
    .page .breadcrumb {
        padding: 0;
        width: 100%;
        float: none;
    }
    .page .breadcrumb {
        text-align: center;
        margin-top: 15px;
    }
    /*Team*/
    section.perfect-employee .perfect-e-title {
        padding-top: 0;
        margin-bottom: 30px;
    }
    .our-team.page .filters-button-group {
        margin-bottom: 30px;
    }
    .element-item {
        right: 0 !important;
    }
    /*Cart*/
    .cart.page ul.cart li ul li,
    .cart.page ul.cart li ul li.cart-product {
        width: 100%;
        text-align: center;
    }
    .cart-info a.btn {
        width: 100%;
    }
    .cart.page ul.cart li.cart-all {
        text-align: left;
    }
    /*Blog*/
    .blogs.page .blog {
        padding: 15px;
    }
    .blogs.page figure iframe {
        height: 230px;
    }
    .pagination_nav .pagination li a {
        padding: 0 10px;
    }
    ul.blog-meta li a {
        margin-right: 5px;
    }
    .blogs.page .blog img {
        height: 230px;
        min-height: auto;
        margin-bottom: 15px;
    }
    .blog.quote_blog .media .media-left {
        display: block;
        text-align: center;
        padding-bottom: 15px;
    }
    .blog.quote_blog .media .media-body {
        padding-left: 15px;
    }
    .blogs.page .blog .slick-dots {
        display: none !important;
    }
    .blogs.page .slick-dotted.slick-slider {
        margin: 0;
    }
    .sidebar section {
        text-align: left;
    }
    /*Single*/
    .media-body,
    .media-left,
    .media-right,
    .media-body,
    .media-left,
    .media-right img {
        display: block;
        width: 100%;
        padding: 0;
    }
    section.single-post .post-content .post-text .media img {
        width: 100%;
        margin-bottom: 30px;
    }
    section.single-post .post-content .post-text,
    section.single-post .related-post,
    .post-pager,
    .post_author,
    .post-comments,
    .leave-comment {
        padding: 15px;
    }
    section.single-post .post-content .post-text {
        padding-top: 0;
        text-align: left;
    }
    .post-pager li {
        display: block;
        width: 50%;
        padding: 0;
    }
    .post-comments .media-left {
        margin-bottom: 5px;
        padding: 0;
    }
    .post-comments .media-left a {
        width: 100%;
    }
    .post-comments .media-left a img {
        margin: 0 auto;
        width: 70px;
    }
    .author-img {
        margin-bottom: 15px;
    }
    .author-img img {
        margin: 0 auto;
    }
    /*Domains Page*/
    .domain-list ul.nav-tabs>li {
        width: 100%
    }
    /*Features*/
    .reordering{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .reordering-1{
        width: 100%;
        order: 1;
    }
    .reordering-2{
        width: 100%;
        order: 2;
    }
    section.other-features ul.nav.nav-tabs {
        display: block;
    }
    section.other-features .nav-tabs>li {
        float: none;
    }
    .contact.page section.support {
        min-height: auto;
        padding: 50px 0;
    }
    .contact.page section.support .container {
        min-height: auto;
    }
    .contact.page section.support .support-text {
        padding: 0;
    }
    /*Coming Soon*/
    section.comingsoon-content .comingsoon-text {
        padding-top: 30px;
    }
    section.comingsoon-content {
        padding: 30px 0px;
    }
    section.comingsoon-content .comingsoon-text .btn{
        width: 100%;
    }
    /*Pricing*/
    .price-table img {
        margin: 0 auto;
        margin-bottom: 30px;
        display: block;
        float: none !important;
    }
    section.pricing-table-3 .price-t-content {
        padding-left: 0;
        text-align: center;
        display: block;
        width: 100%;
    }
    /*Domain Searc*/
    section.domain-search-result .btn {
        margin-top: 0px;
    }
    /*Hosting Shared*/
    .shared-page.page .clients .block {
        margin-bottom: 0;
    }
    /*Account*/
    section.account .nav-tabs>li {
        width: 100%;
    }
    /*Portfolio*/
    .portfolio.page .project .project-img img {
        height: 100%;
    }
    /*Reordring*/
    .reordering{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .reordering-1{
        width: 100%;
        order: 1;
    }
    .reordering-2{
        width: 100%;
        order: 2;
    }
    .footer_payments{
		width: 100%;
	}
	.top-header .menu li {
	    margin-left: 10px;
	}
	.top-header .container{
		padding-right: 5px;
		padding-left: 5px;
	}
	.checkout .page-banner h3 {
	    font-size: 20px;
	    margin-top: 0px;
	    margin-bottom: 20px;
	}
	.adicional_image img{
		width: 50px;	
	}
	
	.plan-config-item-value {
		text-align: right;
	}
	
	.btn_less_more {
		margin-bottom: 0px;
		font-size: 18px;
		margin-right: 4px;
		margin-left: 4px;
		outline: none;
	}
	
	.div_less_more {
		padding-top: 4px;
		height: 39px;
		margin-top: -3px;
		font-size: 12px;
	}
	
	.table_email_zimbra_input {
		 margin-left: auto;
		margin-right: auto;
	}
}

/* ECOMMERCE */

@media (max-width:1200px){
   
    img.shopping{
        max-width: 500px;
    }

    section.que_es{
        max-width: 80vw;
    }

    section#demo div.dibujo_demo div.contImagenDemo{
        display: flex;
        align-items: center;
    }

}

@media (max-width:1010px){
    img.shopping{
        max-width: 90vw;
    }
   
    .presentation div {
        flex-direction: column;
    }

    .cont_shop, .cont_info_pres {
        width: 80vw;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
    }

    .cont_shop, .cont_info_pres h1{
        text-align: center;
    }

    .cont_info_pres{
        padding-left: 0;
    }

    .pasos3 .container .expli_pasos h2,
    .pasos3 .container .expli_pasos p {
        text-align: center;
    }

    .pasos3 .container .expli_pasos {
        justify-content: center;
        width: 50vw;
    }

    section.pasos3 .container{
        display: grid;
        grid-gap: 30px 15px;
        justify-items: center;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:    " expli_pasos  expli_pasos"
                                " cont_cell  carousel" ;
        
    }

    .pasos3 .container .cont_cell{
        grid-area: cont_cell;
        display: flex;
        justify-self: right;
    }

    .pasos3 .container .expli_pasos{
        grid-area: expli_pasos;
    }

    .pasos3 .container #carousel-example-generic{
        grid-area: carousel;
    }

    .por_que .container div.dibujo_porque{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: auto auto;
        margin-bottom: 40px;
    }

    .por_que.container div.dibujo_porque img{
        height: 300px;
        margin: 0;
    }
}

@media (max-width: 992px){

    section#demo.container div.dibujo_demo{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "visualDemo" 
                             "contImagenDemo";
    }

    section#demo div.dibujo_demo div.visualDemo{
        grid-area: visualDemo;
    }

    section#demo div.dibujo_demo div.contImagenDemo{
        grid-area: contImagenDemo;
        align-items: flex-end;
    }

    section#demo div.dibujo_demo div.contImagenDemo img{
        max-width: 550px;
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 768px){

    .por_que .container div.dibujo_porque{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: "porque_h2" 
                             "porque_img";
    }

    .por_que .container div.dibujo_porque img{
        grid-area: porque_img;
    }

    .por_que .container div.dibujo_porque h2{
        grid-area: porque_h2;
        text-align: center;
    }

    section.que_es{
        display: grid;
    }

    section.que_es h2{
        text-align: center;
        margin-bottom: 30px;
    }

    section.que_es h2 br,
    section.que_es div.linea_vertical{
        display: none;
    }

    .por_que .container .beneficio_porque{
        display: grid;
        width: 90vw;
        margin: auto;
    }

    .por_que .container .beneficio_porque div{
        max-width: 90vw;
        margin: auto;
    }

    .por_que .container .beneficio_porque .linea_vertical {
        width: 100vw;
        height: 3px;
        margin: 0;
    }
}

@media (max-width: 600px){

    section.pasos3 .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 0;
        grid-template-areas:
            " expli_pasos"
            " carousel";
    }

    .pasos3 .container .expli_pasos{
        grid-area: expli_pasos;
        width: 70vw;
    }

    .pasos3 .container #carousel-example-generic{
        grid-area: carousel;
    }
   
    .cont_cell img{
        display: none;
    }

    .pasos3 .container .cont_cell{
        grid-area: cont_cell;
        display: none;
    }
    
    #carousel-example-generic .carousel-inner .item, #carousel-example-generic .carousel-inner .item.active{
        padding: 0 0 50px 0;
    }
}



@media (min-width: 320px) and (max-width: 550px){

    .cont_shop, .cont_info_pres h1{
        font-size: 30px;
    }

    #carousel-example-generic .carousel-inner .item, #carousel-example-generic .carousel-inner .item{
        width: 90vw;
        margin: auto;
    }

    #carousel-example-generic ol.carousel-indicators {
        margin-left: 0vw;
        
    }

    .pasos3 .container .expli_pasos {
        width: 90vw;
    }

    .por_que .container div.dibujo_porque img{
        height: 250px;
    }

    div#accordion div.panel div.panel-heading div.faq-button h5{
        font-size: 20px;
        text-align: left;
    }

    section#preguntas_frecuentes{
        padding: 0;
    }

    section#demo div.dibujo_demo div.visualDemo div#carousel-demo div.carousel-inner{
        max-width: 90vw;
        display: flex;
        justify-content: center;
    }

    section#demo div.dibujo_demo{
        max-width: 100%;
    }
}
